<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>商品一覧</div>
	
	<h2>本日のセール品</h2>
	<p th:text="#{message.sail}"></p>
	<table>
		<tr>
			<th>商品番号</th>
			<th>商品名</th>
			<th>価格</th>
			<th>操作</th>
		</tr>
		<tr th:each="item: ${items}">
			<td th:text="${item.id}" name = "id"></td>
			<td th:text="${item.name}" name = "name"></td>
			<td th:text="${item.price}" name = "price"></td>
			<td>
		        <form method="get" th:action="@{/items/selectedItem}">
		            <input type="hidden" th:value="${item.id}" name="id">
		            <input type="hidden" th:value="${item.name}" name="name">
		            <input type="hidden" th:value="${item.price}" name="price">
		            <input type="submit" value="選択">
		        </form>
		    </td>
		</tr>
	</table>
	<br>
	<form method="get" th:action="@{/items/findAllByOrderByPriceDesc}">
		<input type="submit" value="order_the_list">
	</form>
</body>
</html>