<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップページ</title>
</head>
<body>
	<!--/* コメント */-->
	<div>トップページ</div>
	
	<div th:text="${session.userId}"></div>
	<a th:href="@{/loginOnSession}">ログイン</a>
	<a th:href="@{/loginWithValidation}">入力チェックログイン</a>
	<a th:href="@{/logout}">ログアウト</a>
	<br>
	<a th:href="@{/items/findAll}">全体検索</a>
	<a th:href="@{/items/findAllByOrderByPriceDesc}">並び替え検索</a>
	<a th:href="@{/items/getOne/1}">主キーで検索(1)</a>
	<a th:href="@{/items/getOne/3}">主キーで検索(3)</a>
	<a th:href="@{/items/findByPrice/りんご}">名前で検索(りんご)</a>
	
	<br>
	
	<a th:href="@{/items/findByNameAndPrice/Lemon/300}">名前と価格で検索(Lemonかつ300)</a>
	
	<br>
	
	<a th:href="@{/items/findByNameOrPrice/りんご/300}">名前と価格で検索(りんごか価格が300)</a>
	
	<br>
	
	<a th:href="@{/items/findByNameLike/ん}">部分一致検索(ん)</a>
	
	<br>
	
	<a th:href="@{/items/findAllAndSetDropdown}">ドロップダウンリスト</a>
	
	<br>
	
	<a th:href="@{/items/create/input}">登録</a>
	
	<br>
	
	<a th:href="@{/items/update/input/2}">更新(id = 2)</a>
	
	<br>
	
	<a th:href="@{/items/findItemAndCategory}">外部参照検索</a>
	
	<br>
	
	<a th:href="@{/items/searchWithNamedQuery/1}">NamedQueryによる検索(1)</a>
	
	
	
</body>
</html>